
{% extends 'base.html' %}

{% block title %}Manage Venue{% endblock %}

{% block added_style %}
<style>
    
    form {
        display: flex;
        flex-direction: column;
    }
    form label {
        margin-bottom: 5px;
        font-weight: bold;
    }
    form input, form textarea {
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
    form button {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    form button:hover {
        background-color: #555;
    }
</style>
{% endblock added_style %}



{% block content %}
<div class="container">
    <h2>Manage Venue</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Venue Name</label>
        {{ form.name }}
        <label for="address">Venue Address</label>
        {{ form.address }}
        <button type="submit">Add Venue</button>
    </form>
</div>
{% endblock %}
